.header{
  z-index: 1;
  display: flex;
  flex-direction: row;

  height: 60px;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: grey;
  background-color: white;
}

.left-bold-name{
  /* this makes this element stretch to the end */
  flex: 1;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  padding-left: 65px;
}

.right-section-box{
  display: flex;
  align-items: end;
  align-items: center;
}

.home-button,
.about-button,
.projects-button{
  align-items: center;
  display: flex;
  height: 34px;
  width: 56px;
  border-width: 1px;
  border-style: solid;
  border-radius: 28px;
  border-color: skyblue ;

  margin-right: 26px;

  padding-left: 15px;
}

.projects-button{
  padding-left: 10px;
  padding-right: 8px;
}

.home-button:hover,
.about-button:hover,
.projects-button:hover{
  cursor: pointer;
  background-color: gray;
  font-weight: bold;
}