a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: black;
}

p{
  font-family: 'Open Sans', sans-serif;
}

a:hover{
  cursor: pointer;
  color: rgb(242,240,255);
  font-weight: bold;
}

body{
  background-color: rgb(128,128,128);
}

