.main-content{
  font-family: 'Open Sans', sans-serif;
  color: black;

  /*header has 60px height */
  margin-top: 65px;
  z-index: 0;

  /*margin for click top*/
  scroll-margin-top: 65px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  cursor: pointer;
  color: rgb(242,240,255);
  font-weight: bold;
}

body{
  background-color: rgb(128,128,128);
}

.contact-id-class{
  scroll-margin-top: 65px;
}