.header{
  z-index: 1;
  display: flex;
  flex-direction: row;

  height: 60px;

  font-family: 'Open Sans', sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  border-width: 1px;
  /*background-color: rgb(128,128,128);*/
  /*background: linear-gradient(90deg, #0F2027, #203A43,#2C5364);*/
  /*background: linear-gradient(90deg, #7F7FD5, #86A8E7,#91EAE4)*/
  background: linear-gradient(90deg, #2C3E50, #4CA1AF)
}

.left-bold-name{
  /* this makes this element stretch to the end */
  flex: 1;
  display: flex;
  font-weight: bold;
  font-size: 22px;
  align-items: center;
  padding-left: 100px;
  min-width: 200px;
}

.right-section-box{
  display: flex;
  align-items: end;
  align-items: center;
}

.github-button,
.linkedIn-button,
.home-button,
.contact-button,
.projects-button{
  align-items: center;
  display: flex;
  margin-right: 26px;
  padding-left: 10px;
}
