.main-content{
  font-family: 'Open Sans', sans-serif;
  color: black;

  /*header has 60px height */
  margin-top: 65px;
  z-index: 0;

  /*margin for click top*/
  scroll-margin-top: 65px;
  
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr 1fr;
}

.my-image{
  background-color: lightblue;
  padding-top: 100px;
  padding-left: 130px;
  width:550px;
  height:auto;
}

.summary{
  padding-top: 140px;
  background-color: lightpink;
}