.main-content{
  font-family: 'Open Sans', sans-serif;
  color: white;

  /*header has 60px height */
  margin-top: 65px;
  z-index: 0;

  /*margin for click top*/
  scroll-margin-top: 120px;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  z-index: 1;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.my-image{
  opacity: 0;
  animation: fadeInAnimation ease 3s;
  animation-fill-mode: forwards;
  width:550px;
  height:auto;
}

.img{
  padding-left: 120px;
}

.summary{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 20px;
  padding-top: 70px;
  padding-right: 120px;
  width: 500px;

  opacity: 0;

  animation: fadeInAnimation ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  z-index: 1;
}