.project-display-title{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: bolder;
  font-size: 24px;
  padding-left: 50px;
}

.castle-env-title,
.discord-bot-display-title{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding-left: 330px;
  padding-top: 30px;
}

.castle-project-container,
.discord-bot-container{
  scroll-margin-top: 145px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.discord-bot-image{
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.castle-env-imgs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.castle-img{
  width: 450px;
}

.castle-env-description,
.discord-bot-description{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 20px;
  padding-left: 200px;
  width: 440px;
  padding-top: 50px;
}